<div ng-controller="GroupViewerController">
<br/>
	<div class="list-group pre-scrollable" style = "max-height:70%" ng-repeat="conf in configs">
	  <li class="list-group-item" ng-controller="OneGroupViewerController">
	  	
	  	<span class="badge" ng-if="conf.layerGroup">{{conf.layerGroup.getLayers().length}} </span>

	    <h4 class="list-group-item-heading">{{conf.groupName}}</h4>
	    <div>{{conf.layerDesc}}</div>
	    <div class="checkbox" ng-show="showhide" >
	  		<label><input type="checkbox" ng-change="show(conf.groupName)" ng-model="conf.layerShow">Show</label>
		</div>
	  </li>

	</div>
</div>