<div ng-controller="GroupViewerController">
	{{selectedObject}}
	<table ng-table ="usersTable" class="table table-striped">
		<tr ng-repeat="conf in configs" ng-controller="OneGroupViewerController">
			<td data-title="'Name'">{{conf.name}} </td>
			<td data-title="'Items'">{{conf.dataItems.length}}</td>
			<td data-title="'Show/Hide'"><input type="checkbox" ng-change="show(conf.name)" ng-model="conf.visible"></td>
			<td data-title=""><button ng-click="showDetails(conf.name)" title="Show Layer Details"><span class="glyphicon glyphicon-eye-open"></span></button></td>
		</tr>
	</table>

	<div ng-controller="oneGroupItemsController">
		<div><h3>{{$parent.updateVar.selectedObject.name}}</h3></div>
		<div>
			<div>{{$parent.updateVar.selectedObject.description}}</div>
			<div></div>
		</div>
		<table ng-table ="colsTable" class="table table-striped">
		<tr ng-repeat="col in $parent.updateVar.cols">
			<td data-title="'Column'">{{col}}</td>
			<td data-title="'value'">
				<select ng-model="$parent.updateVar.columnVal[col]">
					<option value="none">none</option>
					<option ng-repeat="x in $parent.updateVar.selectedObject.cols[col]" value="{{x}}">{{x}}</option>
				</select>
			</td>
		</tr>
	</table>
	<button ng-click="applyFilter()">Apply Filter</button>
	<button ng-click="clearFilter()">Clear Filter</button>


	</div>
</div>

