<div ng-controller="GroupViewerController">
<br/>
	<div class="list-group pre-scrollable" style = "max-height:70%" ng-repeat="conf in configs">
	  <li class="list-group-item" ng-controller="OneGroupViewerController">
	  	<span class="badge">{{layers[conf.groupName].getLayers().length}}</span>
	    <h4 class="list-group-item-heading">{{conf.groupName}}</h4>
	    <div class="checkbox">
	  		<label><input type="checkbox" ng-change="show(conf.groupName)" ng-model="groupShow">Show</label>
		</div>
	  </li>

	</div>
</div>